.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "descr .";
  row-gap: 5px;
  column-gap: 18px;
  margin: auto auto auto 30px;
  max-width: 58%;
  align-items: center;
}

@media (max-width: 959px) {
  .profile__info {
    padding: 26px 0 33px;
    margin: auto;
    max-width: 282px;
    column-gap: 10px;
    grid-template-columns: 235px 37px;
  }
}
