.popup-container {
  display: grid;
  grid-template-columns: auto 470px 32px auto;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    ". . close ."
    ". form form ."
    ". . . .";
  gap: 8px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 769px) {
  .popup-container {
    grid-template-columns: auto 282px auto;
    grid-template-areas:
      ". close ."
      ". form ."
      ". . .";
    gap: 16px;
    justify-items: end;
  }
}
