.header__navigation {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

@media (max-width: 959px) {
  .header__navigation {
    margin: 0 24px 0;
    flex-direction: column;
    text-align: center;
    padding-top: 12px;
    gap: 19px;
  }
}
