.grid-item__trash {
  background-image: url("../../../images/Trash.svg");
  background-color: transparent;
  width: 18px;
  height: 19px;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.grid-item__trash:hover {
  opacity: 0.6;
}
