.profile__description {
  margin: 0;
  padding: 0;
  grid-area: descr;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 959px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    max-width: 282px;
  }
}
