.footer {
  margin: 0 auto;
  max-width: 880px;
  padding-left: 15.625%;
  padding-right: 15.625%;
  padding-bottom: 60px;
}

@media (max-width: 320px) {
  .footer {
    padding-left: 5.94%;
    padding-right: 5.94%;
    padding-bottom: 36px;
  }
}
